.list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.item:not(:last-child) {
    margin-right: 30px;
}

.button {
    width: 100px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    border: none;
    color: #fff;
}

.good {
    background-color: green;
    border-radius: 30%;
}

.neutral {
    background-color: yellow;
    border-radius: 30%;
}

.bad {
    background-color: red;
    border-radius: 30%;
}